<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">
      <button
        class="btn btn-link"
        type="button"
        (click)="onToggleAccordion()"
        [attr.aria-controls]="'filterAccordion' + filter.id"
      >
        {{ filter.name }}
      </button>
      <!-- Delete Button -->
      <button
        class="btn btn-danger btn-sm float-end"
        (click)="onDelete()">
        Delete
      </button>
    </h5>
  </div>

  <div [id]="'filterAccordion' + filter.id" class="collapse" [class.show]="accordionState">
    <div class="card-body">
      <h6>Criteria:</h6>
      <ul class="list-group">
        <li *ngFor="let criterion of filter.criteria" class="list-group-item">
          <div *ngIf="criterion.criteriaType === 'AmountCriteria'" class="row">
            <div class="col-md-4">
              <strong>Amount</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ criterion.amount }}
            </div>
          </div>
          <div *ngIf="criterion.criteriaType === 'TitleCriteria'" class="row">
            <div class="col-md-4">
              <strong>Title</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ '\"' + criterion.title + '\"'}}
            </div>
          </div>
          <div *ngIf="criterion.criteriaType === 'DateCriteria'" class="row">
            <div class="col-md-4">
              <strong>Date</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ criterion.date }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
