<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">
      <button
        class="btn btn-link"
        type="button"
        (click)="onToggleAccordion()"
        [attr.aria-controls]="'filterAccordion' + filter.id"
      >
        {{ filter.name }}
      </button>
      <button *ngIf="!accordionState"
        class="btn btn-outline-danger btn-sm float-end btn-icon-minus ms-auto mt-1"
        (click)="onDelete()"
        aria-label="Delete"
        title="Delete">
        <i class="fa fa-minus"></i>
      </button>
      <button *ngIf="accordionState"
        class="btn-close btn-sm float-end mt-1"
        (click)="onToggleAccordion()"
        type="button"
        aria-label="Close"
        title="Close">
      </button>
    </h5>
  </div>

  <div [id]="'filterAccordion' + filter.id" class="collapse" [class.show]="accordionState">
    <div class="card-body" *ngIf="!editMode">

      <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
        {{ successMessage }}
      </div>

      <h6>Criteria:</h6>
      <ul class="list-group">
        <li *ngFor="let criterion of filter.criteria" class="list-group-item">
          <div *ngIf="criterion.criteriaType === 'AmountCriteria'" class="row">
            <div class="col-md-4">
              <strong>Amount</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ criterion.amount }}
            </div>
          </div>
          <div *ngIf="criterion.criteriaType === 'TitleCriteria'" class="row">
            <div class="col-md-4">
              <strong>Title</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ '\"' + criterion.title + '\"'}}
            </div>
          </div>
          <div *ngIf="criterion.criteriaType === 'DateCriteria'" class="row">
            <div class="col-md-4">
              <strong>Date</strong>
            </div>
            <div class="col-md-4">
              {{ this.comparisonTypeOptions[criterion.criteriaType][0].label }}
            </div>
            <div class="col-md-4">
              {{ criterion.date }}
            </div>
          </div>
        </li>
      </ul>
      <button
        class="btn btn-outline-danger my-3 m-1 float-end"
        (click)="onDelete()">
        Delete
      </button>
      <button
        class="btn btn-secondary my-3 m-1 float-end"
        (click)="onEdit()">
        Edit
      </button>
    </div>

    <!-- Edit Form for Filter Criteria -->
    <div class="card-body" *ngIf="editMode">
      <h6>Criteria:</h6>

      <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
        {{ successMessage }}
      </div>

      <form>
        <div *ngFor="let criterion of filter.criteria; let i = index">
          <div class="row mb-1">
            <div class="row col-md-11 align-items-center">
              <div class="col-md-4 mb-1">
                <select
                  class="form-select"
                  id="criteriaType-{{ i }}"
                  [(ngModel)]="criterion.criteriaType"
                  [name]="'criteriaType' + i"
                  (change)="onCriteriaTypeChange(i)"
                >
                  <option value="AmountCriteria">Amount</option>
                  <option value="TitleCriteria">Title</option>
                  <option value="DateCriteria">Date</option>
                </select>
              </div>

              <div class="col-md-4 mb-1">
                <select
                  class="form-select"
                  id="comparisonType-{{ i }}"
                  [(ngModel)]="criterion.comparisonType"
                  [name]="'comparisonType' + i"
                >
                  <option *ngFor="let option of comparisonTypeOptions[criterion.criteriaType]" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
              </div>

              <!-- Conditional Fields Based on Criteria Type -->
              <div *ngIf="criterion.criteriaType === 'AmountCriteria'" class="col-md-4 mb-1">
                <input
                  type="number"
                  class="form-control"
                  id="amount-{{ i }}"
                  [(ngModel)]="criterion.amount"
                  [name]="'amount' + i"
                />
              </div>

              <div *ngIf="criterion.criteriaType === 'TitleCriteria'" class="col-md-4 mb-1">
                <input
                  type="text"
                  class="form-control"
                  id="title-{{ i }}"
                  [(ngModel)]="criterion.title"
                  [name]="'title' + i"
                />
              </div>

              <div *ngIf="criterion.criteriaType === 'DateCriteria'" class="col-md-4 mb-1">
                <input
                  type="date"
                  class="form-control"
                  id="date-{{ i }}"
                  [(ngModel)]="criterion.date"
                  [name]="'date' + i"
                />
              </div>
            </div>
            <div class="col-md-1 my-1">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm ms-auto btn-icon-minus float-end"
                (click)="removeCriterion(i)">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Button to Add New Criterion -->
        <button type="button" class="btn btn-secondary mt-3" (click)="addCriterion()"><i class="fa-solid fa-plus"></i> Add Criterion</button>
      </form>
      <!-- Save and Close Buttons -->
      <div class="mt-3 modal-footer">
        <button type="button" class="btn btn-secondary m-1" (click)="onClose()">Cancel</button>
        <button type="button" class="btn btn-primary m-1" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
</div>
