<!-- Success Message -->
<div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
  {{ successMessage }}
</div>

<div class="container mt-4">
  <h3 class="mb-4">Filter List</h3>
  <button class="btn btn-primary mb-3" (click)="openAddFilterModal()">Add Filter</button>

  <div *ngFor="let filter of filters; let i = index">
    <app-filter-list
      [filter]="filter"
      [accordionState]="accordionState[i]"
      [successMessage]="filterSuccessMessages[filter.id!]"
      (toggleAccordion)="toggleAccordion(i)"
      (delete)="deleteFilter($event)"
      (saveFilter)="saveFilter($event)">
    </app-filter-list>
  </div>

  <app-filter-modal
    [filterToEdit]="newFilter"
    (saveFilter)="addFilter($event)">
  </app-filter-modal>
</div>
