/* You can add global styles to this file, and also import other style files */
.btn-icon-minus {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-2 {
  margin-right: 0.5rem
}

.criteria-form:has(.error-placeholder) .form-select {
  margin-bottom: 1.5rem;
}
