<form #filterForm="ngForm">
  <h6>Filter Name <span class="text-danger">*</span></h6>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="filterName"
      [(ngModel)]="filterToEdit.name"
      name="filterName"
      required
      #filterName="ngModel"
    />
    <div *ngIf="filterName.invalid && filterName.touched" class="text-danger">
      Filter Name is required.
    </div>
  </div>

  <h6>Criteria <span class="text-danger">*</span></h6>
  <div *ngFor="let criterion of filterToEdit.criteria; let i = index" class="criteria-form border rounded p-3 mb-3">
    <div class="row">
      <div class="row col-md-11 align-items-center">
        <div class="col-md-4 my-1">
          <select
            class="form-select"
            id="criteriaType-{{ i }}"
            [(ngModel)]="criterion.criteriaType"
            [name]="'criteriaType' + i"
            (change)="onCriteriaTypeChange(i)"
          >
            <option value="AmountCriteria">Amount</option>
            <option value="TitleCriteria">Title</option>
            <option value="DateCriteria">Date</option>
          </select>
        </div>

        <div class="col-md-4 my-1" *ngIf="criterion.criteriaType">
          <select
            class="form-select"
            id="comparisonType-{{ i }}"
            [(ngModel)]="criterion.comparisonType"
            [name]="'comparisonType' + i"
          >
            <option *ngFor="let option of comparisonTypeOptions[criterion.criteriaType]" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>

        <div *ngIf="criterion.criteriaType === 'AmountCriteria'" class="col-md-4 my-1">
          <input
            type="number"
            class="form-control"
            id="amount-{{ i }}"
            [(ngModel)]="criterion.amount"
            [name]="'amount' + i"
            required
            #amount="ngModel"
          />
          <div *ngIf="amount.invalid && amount.touched" class="text-danger error-placeholder">
            Amount value is required.
          </div>
        </div>

        <div *ngIf="criterion.criteriaType === 'TitleCriteria'" class="col-md-4 my-1">
          <input
            type="text"
            class="form-control"
            id="title-{{ i }}"
            [(ngModel)]="criterion.title"
            [name]="'title' + i"
            required
            placeholder="Title value"
            #title="ngModel"
          />
          <div *ngIf="title.invalid && title.touched" class="text-danger error-placeholder">
            Title value is required.
          </div>
        </div>

        <div *ngIf="criterion.criteriaType === 'DateCriteria'" class="col-md-4 my-1">
          <input
            type="date"
            class="form-control"
            id="date-{{ i }}"
            [(ngModel)]="criterion.date"
            [name]="'date' + i"
            required
            #date="ngModel"
          />
          <div *ngIf="date.invalid && date.touched" class="text-danger error-placeholder">
            Date value is required.
          </div>
        </div>
      </div>

      <div class="col-md-1 my-1 align-self-center">
        <button
          type="button"
          class="btn btn-outline-danger btn-sm ms-auto btn-icon-minus float-end"
          (click)="removeCriterion(i)"
        >
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-secondary my-3" (click)="addCriterion()">
    <i class="fa-solid fa-plus"></i> Add Criterion
  </button>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary m-1" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary m-1" [disabled]="filterForm.invalid" (click)="save()">Save Filter</button>
  </div>

</form>
